body {
	font-family: 'Helvetica';
	padding: 20px;
}

hr {
	opacity: 0.1;
}

.content {
	display: block;
	margin: auto;
	text-align: center;
}

#h1{
	font-family: cursive;
	color:#192D3A;
	margin:0 auto;
	width:300px;
	height:50px;
}
.anketa{
	/*margin-left:350px;*/
	/*border-style:groove;*/
	width:300px;
	font-size: 16px;
	margin-top: 7px;
	height: 30px;
	margin-top: 10px;
	border-radius:2px;
}

textarea {
	margin-top: 30px;
}

#button{
	background-color: #6590B6;
	margin-top: 30px;
	width: 150px;
	height: 30px;
}

.inf{
	font-family:"Noto Sans" sans-serif;
	font-size:13px;
}
#alert{
	margin-left:350px;
	font-family: "Noto Sans" sans-serif;
	font-size:18px;
	color:#BE383B;
}

#img{
	position:absolute;
	margin-left:70px;
}
#download_img{
	margin-top:-500px;
}
#topic{
	margin-top: 10px;
	width: 301px;
	height: 30px;
	font-size: 16px;
	font-family: "Noto Sans" sans-serif;
}