<!DOCTYPE html>
<html >
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta content='width=device-width,initial-scale=1,user-scalable=no' name='viewport'>
    <link rel="shortcut icon" href="/static/img/infoshell.png" type="image/png">
    <title>Infoshell</title>
  </head>

  <body>
    <div id="layout">
        <div class="main">
    <h1>Страница не найдена</h1>
    <p>Страница устарела, была удалена или не существовала вовсе</p>
    <div class="buttons">
      <a href="http://185.3.94.78:5000/Всё" class="button">Вернуться на главную</a>
    </div>
    </div>
    
  </body>
</html>
