<!DOCTYPE html>
<html>
<head>
    <title>Infoshell</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href= "/static/css/inf.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/infoshell.png" type="image/png">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129098335-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129098335-1');
    </script>
</head>

<body>
  <div class="container">
    <h2>политика конфиденциальности</h2>
    <p>Конфиденциальность посетителей нашего сайта очень важна для нас, и мы стремимся к ее защите. В политике конфиденциальности содержится описание порядка обработки личной информации.Согласие на использование нами файлов cookie в соответствии с условиями настоящей политики при первом посещении нашего сайта позволяет нам использовать файлы cookie каждый раз, когда вы посещаете наш сайт.</p>
    <h3>Сбор личной информации</h3>
    <ul>
      <li>информация о вашем компьютере, включая ваш IP-адрес</li>
      <li>информация, такая как ваш адрес электронной почты, которую вы вводите при регистрации на нашем сайте</li>
      <li>информация, которую вы вводите при создании профиля на нашем сайте, например, ваше имя, фотографии профиля</li>
      <li>информация, которую вы вводите при использовании услуг на нашем сайте</li>
    </ul>
    <h3>Использование личной информации</h3>
    <p>Мы используем вашу личную информацию для вашей работы и размещения вашей информации на нашем сайте.Мы можем использовать вашу личную информацию для следующих целей</p>
    <ul>
      <li>персонализация нашего сайта для вас</li>
      <li>предоставление вам возможности пользоваться услугами, доступными на нашем сайте;</li>
      <li>беспечение безопасности нашего сайта и предотвращение мошенничества</li>
      <li>проверка соблюдения положений и условий, регулирующих использование нашего сайта (включая мониторинг личных сообщений, отправленных через наш сайт службы личных сообщений);</li>
    </ul>
    <h3>Сохранение личной информации</h3>
    <p>Мы сохраняем вашу личной информации для использования ее вами и также для корректной и полной работы</p>
    <h3>Безопасность вашей личной информации</h3>
    <p>Мы будем принимать разумные технические и организационные меры предосторожности, чтобы предотвратить потерю, неправильное использование или изменение вашей личной информации.</p>
    <p>Вы несете ответственность за сохранение конфиденциальности пароля, который вы используете для доступа к нашему сайту</p>
    <h3>Размещение информации</h3>
    <p>Infoshell это информационный портал для приобретения знаний, поэтому ваша информация должна соответствовать нашим требованиям:</p>
    <ul>
      <li>Вы можете размещать информацию на определенную тему</li>
      <li>Вы не можете размещать:</li>
      <ul>
        <li>Материалы сексуального характера</li>
        <li>Жестокие или отталкивающие сцены</li>
        <li>Оскорбления или проявления нетерпимости</li>
        <li>Вредные или опасные действия</li>
        <li>Жестокое обращение с детьми</li>
        <li>Пропаганда терроризма</li>
        <li>Спам или введение в заблуждение</li>
        <li>Нарушение моих прав</li>
        <li>Материалы глупого или бесполезного характера</li>
      </ul>
      <li>Пользователь который рамещает материал должен иметь опыт работы в с ним</li>
    </ul>
  </div>

</body>
</html>